<ion-header>
    <ion-toolbar>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <img src="/assets/images/BuildLogo.png" alt="buildSWLA Logo" height="260px" />
        <ion-card-header>
            <ion-card-subtitle align="center">love your city. make it better.</ion-card-subtitle>
            <ion-card-title align="center">Welcome to buildSWLA!</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-button expand="block">Sign in</ion-button>
            <p align="center">-or-</p>
            <ion-button expand="block">New? Sign up</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>